/* ****************
Layouts
********************/
body {
    background:#3333;
    background: linear-gradient(-45deg,#00BBE8,rgb(24, 48, 180) ,#00BBE8,rgb(24, 48, 180),#00BBE8,rgb(24, 48, 180) ,#00BBE8,#00BBE8,rgb(24, 48, 180) ,#00BBE8,rgb(24, 48, 180),#00BBE8,rgb(24, 48, 180) ,#00BBE8);
	background-size: 1000% 1000%;
	animation: gradient 50s infinite;
}


.header-bg {
    background:transparent;
}
/* Navigation */
#form2 {
    display:none;
}


/* Map */
.map-cont {
    position: relative;
    height: 500px;
}
#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 80%;

}
.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    }
     
.distance-container > * {
    background-color: orange;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.end-marker {

    
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
.start-marker {

   
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    cursor: pointer;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.mdl-layout__drawer{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/485/471/623/gradient-dark-background-wallpaper-preview.jpg);
    border-top: thin dotted;
    border-left: thin dotted;
    border-right: thin dotted;
    border-bottom: thin dotted;
    border-color: black;
}
.mdl-layout-title{
    color:;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
        
}

.mdl-textfield__label{
color: white;
    font-family: monospace;
}
.mdl-layout__content{
    margin-left: 20px;
}

/*FONTS*/
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

.Audiowide {
    font-family: 'Audiowide';font-size: 65px;
}

.Blinker {
    font-family: 'Blinker';font-size: 15px;
}

.Aclonica{
        font-family: 'Aclonica';font-size: 22px;
}
.Aldrich {
    font-family: 'Aldrich';font-size:50px;
}
/*LINE SPACINGS*/
.lineh80 {
  line-height: 100%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#drawerfontcolor{
    color: white;
}
